.country{
   background-color: aqua;
   padding: 20px;
   border: 2px solid navy;
   border-radius: 20px;
   margin: 1.5rem;
   
}
.country:hover img{
 transform: scale(1.1);
 transition: 1.5s;
}
.country img{
   border: 3px solid pink;
   padding: 10px;
   border-radius: 10px;
}
